.menu-bar {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-padding: 0 10 0 10;
    padding: 0 10 0 10;
    -fx-text-fill: #F2F2F2;
}

/* MENUS (ITEMS SUPERIORES) */
.menu-bar > .container > .menu {
    -fx-padding: 4 18 4 18;
    padding: 4 18 4 18;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    font-size: 14px;

}

/* MENUS (ITEMS SUPERIORES) COLOR */
.menu-bar > .container > .menu > .label {
    -fx-text-fill: white;
}

/* PARA CUANDO SE PASA EL PUNTERO SOBRE EL BOTON DEL MENU GENERAL (MENU BAR) */
.menu-bar > .container > .menu:hover {
    -fx-background-color: #1f536b;
    background-color: #1f536b;
}

/* ESTILO DEL CONTENEDOR GENERAL DEL LOS SUBITEMS DEL MENU */
.context-menu {
    -fx-background-color: #F2F2F2;
    background-color: #F2F2F2;
    -fx-background-radius: 8;
    -fx-padding: 6;
    padding: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 2);
}

/* ESTILO DEL SUB-CONTENEDOR DE LOS ITEMS DEL MENU */
.menu-item {
    -fx-padding: 6 16;
    padding: 6 16;
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: #197CA1;
    -fx-font-size: 13px;
    font-size: 13px;
}

/* PARA LOS SUB-ITEMS CUANDO EL PUNTERO ESTÁ ENCIMA */
.menu-item:focused,
.menu-item:hover {
    /* SOLO EL ENFOQUE DEL PUNTERO */
    -fx-background-color: #1f536b;
    background-color: #1f536b;
    -fx-text-fill: #14516F;
    -fx-background-radius: 12;
}

/* PARA EL SEPARADOR DE LOS ITEMS */
.separator {
    -fx-padding: 6 0 6 0;
    padding: 6 0 6 0;
}