/* ESTILO BASE DE LOS MENUBUTTON */
.button-user-toolbar {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0;
    -fx-font-size: 13px;
}

/* HOVER */
.button-user-toolbar:hover {
    -fx-background-color: #D9D9D9;
}

/* CLICK / PRESIONADO */
.button-user-toolbar:pressed {
    -fx-background-color: #197ca1;
}

/* BOTÓN SELECCIONADO */
.button-user-toolbar:selected {
    -fx-background-color: #ffffff;
}

/* OCULTAR FLECHA NATIVA */
.button-user-toolbar .arrow-button,
.button-user-toolbar .arrow {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
    -fx-border-width: 0;
    -fx-background-image: none;
}